services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: usuario
      POSTGRES_PASSWORD: usuario123
      POSTGRES_DB: postgres
    ports:
      - "5434:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: always
