--
-- PostgreSQL database dump
--

\restrict nZCF7g8waYkkfYrb0Xzo8T43L26fbErDmml70Ipba25cJaCLFQIu42ezKZYsIVP

-- Dumped from database version 18.0 (Debian 18.0-1.pgdg13+3)
-- Dumped by pg_dump version 18.0 (Debian 18.0-1.pgdg13+3)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.status AS ENUM (
    'pronto',
    'em prepara├º├úo',
    'n├úo montado'
);


ALTER TYPE public.status OWNER TO postgres;

--
-- Name: tipo_pagamento; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tipo_pagamento AS ENUM (
    'cart├úo',
    'dinheiro',
    'pix'
);


ALTER TYPE public.tipo_pagamento OWNER TO postgres;

--
-- Name: tipo_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tipo_status AS ENUM (
    'pronto',
    'em prepara├º├úo',
    'n├úo montado'
);


ALTER TYPE public.tipo_status OWNER TO postgres;

--
-- Name: registrar_auditoria_pedido(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.registrar_auditoria_pedido() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  INSERT INTO auditoria_pedido (id_pedido, acao)

  VALUES (NEW.id_pedido, 'INSERT');

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.registrar_auditoria_pedido() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auditoria_pedido; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auditoria_pedido (
    id integer NOT NULL,
    id_pedido integer,
    data_insercao timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    acao character varying
);


ALTER TABLE public.auditoria_pedido OWNER TO postgres;

--
-- Name: auditoria_pedido_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.auditoria_pedido_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.auditoria_pedido_id_seq OWNER TO postgres;

--
-- Name: auditoria_pedido_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.auditoria_pedido_id_seq OWNED BY public.auditoria_pedido.id;


--
-- Name: cliente; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cliente (
    id integer NOT NULL,
    nome character varying,
    telefone integer,
    cartao_de_credito_debito integer,
    fk_pedido_id_pedido integer
);


ALTER TABLE public.cliente OWNER TO postgres;

--
-- Name: item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.item (
    nome character varying,
    quantidade integer,
    preco_unitario double precision,
    observacao character varying,
    id_produto integer NOT NULL
);


ALTER TABLE public.item OWNER TO postgres;

--
-- Name: pedido; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pedido (
    id_funcionario integer CONSTRAINT newtable_id_funcionario_not_null NOT NULL,
    nome character varying,
    id_pedido integer CONSTRAINT newtable_id_pedido_not_null NOT NULL,
    valor_pedido double precision,
    status public.tipo_status,
    forma_de_pagamento public.tipo_pagamento
);


ALTER TABLE public.pedido OWNER TO postgres;

--
-- Name: produto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.produto (
    id_produto integer NOT NULL,
    nome character varying,
    descricao character varying,
    preco double precision,
    disponivel boolean,
    tempo_de_preparo double precision
);


ALTER TABLE public.produto OWNER TO postgres;

--
-- Name: supervisor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supervisor (
    id_supervisor integer CONSTRAINT supervisor_d_supervisor_not_null NOT NULL,
    nome character varying,
    cpf integer,
    telefone integer,
    e_mail character varying,
    fk_atendente_pedido_id_funcionario integer,
    fk_atendente_pedido_id_pedido integer,
    fk_item_id_produto integer
);


ALTER TABLE public.supervisor OWNER TO postgres;

--
-- Name: vw_auditoria_pedido; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_auditoria_pedido AS
 SELECT id_pedido,
    acao,
    data_insercao
   FROM public.auditoria_pedido
  ORDER BY data_insercao DESC;


ALTER VIEW public.vw_auditoria_pedido OWNER TO postgres;

--
-- Name: auditoria_pedido id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditoria_pedido ALTER COLUMN id SET DEFAULT nextval('public.auditoria_pedido_id_seq'::regclass);


--
-- Data for Name: auditoria_pedido; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.auditoria_pedido VALUES (1, 7007, '2025-11-07 22:22:38.509654', 'INSERT');
INSERT INTO public.auditoria_pedido VALUES (2, 1616, '2025-11-07 23:05:53.913471', 'INSERT');
INSERT INTO public.auditoria_pedido VALUES (3, 1, '2025-11-17 20:28:59.759398', 'INSERT');


--
-- Data for Name: cliente; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: item; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.item VALUES ('Batata Frita', 5, 20, 'Em falta', 1);
INSERT INTO public.item VALUES ('Hamburguer', 10, 2.5, 'Em Estoque', 2);


--
-- Data for Name: pedido; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.pedido VALUES (1, 'Pedido Teste', 1001, 49.9, NULL, NULL);
INSERT INTO public.pedido VALUES (7, 'Pedido Teste Trigger', 7007, 129.9, NULL, NULL);
INSERT INTO public.pedido VALUES (16, 'Pedido com ENUMs', 1616, 219.9, 'pronto', 'pix');


--
-- Data for Name: produto; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.produto VALUES (1, 'Queijo Prato', 'Queijo de Origem Animal', 20, false, 30);


--
-- Data for Name: supervisor; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.supervisor VALUES (1, 'Felipe Correia', 168974169, 219774123, 'esteemailnaofunciona@gmail.com', NULL, NULL, NULL);


--
-- Name: auditoria_pedido_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auditoria_pedido_id_seq', 4, true);


--
-- Name: auditoria_pedido auditoria_pedido_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditoria_pedido
    ADD CONSTRAINT auditoria_pedido_pkey PRIMARY KEY (id);


--
-- Name: cliente cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_pkey PRIMARY KEY (id);


--
-- Name: item item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item
    ADD CONSTRAINT item_pkey PRIMARY KEY (id_produto);


--
-- Name: pedido newtable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT newtable_pkey PRIMARY KEY (id_funcionario, id_pedido);


--
-- Name: produto produto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.produto
    ADD CONSTRAINT produto_pkey PRIMARY KEY (id_produto);


--
-- Name: supervisor supervisor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supervisor
    ADD CONSTRAINT supervisor_pkey PRIMARY KEY (id_supervisor);


--
-- Name: pedido auditoria_delete; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER auditoria_delete AFTER DELETE ON public.pedido FOR EACH ROW EXECUTE FUNCTION public.registrar_auditoria_pedido();


--
-- Name: pedido registrar_auditoria_pedido; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER registrar_auditoria_pedido AFTER INSERT ON public.pedido FOR EACH ROW EXECUTE FUNCTION public.registrar_auditoria_pedido();


--
-- Name: pedido update_auditoria_pedido; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_auditoria_pedido AFTER UPDATE ON public.pedido FOR EACH ROW EXECUTE FUNCTION public.registrar_auditoria_pedido();


--
-- PostgreSQL database dump complete
--

\unrestrict nZCF7g8waYkkfYrb0Xzo8T43L26fbErDmml70Ipba25cJaCLFQIu42ezKZYsIVP

